.card{  
  height:300px;
  /* line-height: 6px; */  
  word-wrap: break-word;
}
.card:hover .add-to-word{  
  visibility: visible;
}
.flip-card{
  height: 100%;
  /* display: inline-block; */
}
.flip-card-inner{
  /* height: 100%; */
  line-height: 280px;
  /* display: inline-flex; */
  margin: 0 auto;
}
.flip-card-front{
  color:darkslateblue;
  font-size: 30px;
}
.flip-card-back{  
  color:tomato;
  font-size: 16px;
  line-height: 2;
  display: inline-block;
}
.add-to-word{
  visibility: hidden;
  z-index: 99999999;
  outline: none;
  /* font-size: 3.5rem; */
  
}
.add-to-word span{
  color:#369c87;
  font-size: 3.5rem;
}
.nav-item{
  padding:0 2rem;
}
